<div>

    <!-- DEMO CHANGE OF PASSWORD-->
  <form (submit)="initialize(password.value)">
    <div>
      <label for="pass">Password:</label>
      <input #password type="text">
    </div>
      <button type="submit"> Enter or Change Password --</button>
  </form>
</div>

<div>
  Password Based:
  <ol>
    <li>Password of user needs to be strong</li>
    <li>Anyway we add a SALT to make it unpredictable</li>
    <li>We import password to create a PBKDF2 format BaseKey needed by the deriveKey function</li>
    <li>We derive an AES-CBC key type from baseKey and use for encryption and decryption</li>
  </ol>
</div>